<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Calculador de propiedades</title>
  <style>
    table, tr, th, td {
      border: 1px solid black;
      <!--border-collapse: collapse; -->
      padding: 5px;
      text-align: center;
      border-spacing: 1px;
      background-color: #f6f1e6;}
    table{
      margin-right: 1%;
      float:left;}
    .copyleft {
      display:inline-block;
      transform: rotate(180deg);}
  </style>
</head>
<body style="background-color:#e0f2f0;">
  <h1 style="font-family:verdana;">Calculador de propiedades de Córdoba</h2>
  <p style="font-family:verdana;">Ingrese los siguientes parámetros para estimar el valor de la propiedad: </p>
  <form action="" method="POST">
    <table style="font-family:verdana;font-size:80%;">
      <tr>
        <th>Propiedad</th>
        <th>Zona</th>
        <th>Barrio</th>
        <th>Tipo de Barrio</th>
        <th>Dormitorios</th>
        <th>Baños</th>
        <th>Mts2 Cubiertos</th>
        <th>Mts2 Totales</th>
      </tr>
      <tr>
        <td>
          <select name="propiedad">
            <option value="Casa">Casa</option>
            <option value="Duplex">Duplex</option>
            <option value="Departamento">Departamento</option>
          </select>
        </td>
        <td>
          <select name="zona">
            <option value="Central">Central</option>
            <option value="Este">Este</option>
            <option value="Oeste">Oeste</option>
            <option value="Norte">Norte</option>
            <option value="Sur">Sur</option>
            <option value="Nordeste">Nordeste</option>
            <option value="Noroeste">Noroeste</option>
            <option value="Sudeste">Sudeste</option>
            <option value="Sudoeste">Sudoeste</option>
            <option value="Cerro-Argüello">Cerro-Argüello</option>
            <option value="Guiñazú">Guiñazú</option>
          </select>
        </td>
        <td>
          <select name="barrio">
            <option value="1 de Mayo">1 de Mayo</option>
            <option value="20 de Junio">20 de Junio</option>
            <option value="Acosta">Acosta</option>
            <option value="Aeronautico">Aeronautico</option>
            <option value="Alameda">Alameda</option>
            <option value="Alberdi">Alberdi</option>
            <option value="Alberto">Alberto</option>
            <option value="Alejandro Carbó">Alejandro Carbó</option>
            <option value="Alejandro Centeno">Alejandro Centeno</option>
            <option value="Alt. de San Martín">Alt. de San Martín</option>
            <option value="Alta Córdoba">Alta Córdoba</option>
            <option value="Altamira">Altamira</option>
            <option value="Alto Alberdi">Alto Alberdi</option>
            <option value="Alto Palermo">Alto Palermo</option>
            <option value="Alto Verde">Alto Verde</option>
            <option value="Altos de La Calera">Altos de La Calera</option>
            <option value="Altos de Manantales">Altos de Manantales</option>
            <option value="Altos de V. Sarsfield">Altos de V. Sarsfield</option>
            <option value="Altos de Villa Cabrera">Altos de Villa Cabrera</option>
            <option value="Altos del Chateau">Altos del Chateau</option>
            <option value="Ameghino Norte">Ameghino Norte</option>
            <option value="Ameghino Sud">Ameghino Sud</option>
            <option value="Amp. Pueyrredón">Amp. Pueyrredón</option>
            <option value="Amp. Res. America">Amp. Res. America</option>
            <option value="Amp. las Palmas">Amp. las Palmas</option>
            <option value="Arguello">Arguello</option>
            <option value="Arguello Norte">Arguello Norte</option>
            <option value="Avenida">Avenida</option>
            <option value="Ayacucho">Ayacucho</option>
            <option value="Ayres del Sur">Ayres del Sur</option>
            <option value="Barrancas Norte">Barrancas Norte</option>
            <option value="Bella Vista">Bella Vista</option>
            <option value="Bialet Masse">Bialet Masse</option>
            <option value="CHACRA ESCONDIDA ">CHACRA ESCONDIDA</option>
            <option value="Cabildo">Cabildo</option>
            <option value="Cabo Farina">Cabo Farina</option>
            <option value="Caseros">Caseros</option>
            <option value="Cañitas">Cañitas</option>
            <option value="Cañuelas">Cañuelas</option>
            <option value="Centenario">Centenario</option>
            <option value="Centro">Centro</option>
            <option value="Centro America">Centro America</option>
            <option value="Cerro Chico">Cerro Chico</option>
            <option value="Cerro Norte">Cerro Norte</option>
            <option value="Cerro de las Rosas">Cerro de las Rosas</option>
            <option value="Cerveceros">Cerveceros</option>
            <option value="Chacra del Norte">Chacra del Norte</option>
            <option value="Chacra del Sur">Chacra del Sur</option>
            <option value="Chacras de la Villa">Chacras de la Villa</option>
            <option value="Chateau Carreras">Chateau Carreras</option>
            <option value="Cinco Lomas">Cinco Lomas</option>
            <option value="Ciudadela">Ciudadela</option>
            <option value="Claros del Bosque">Claros del Bosque</option>
            <option value="Cofico">Cofico</option>
            <option value="Colinas de V. Sarsfield">Colinas de V. Sarsfield</option>
            <option value="Colinas del Cerro">Colinas del Cerro</option>
            <option value="Colón">Colón</option>
            <option value="Comarca de Allende">Comarca de Allende</option>
            <option value="Condor Alto">Condor Alto</option>
            <option value="Condor Bajo">Condor Bajo</option>
            <option value="Crisol Norte">Crisol Norte</option>
            <option value="Crisol Sud">Crisol Sud</option>
            <option value="Cuatro Hojas">Cuatro Hojas</option>
            <option value="Cuesta Colorada">Cuesta Colorada</option>
            <option value="Dean Funes">Dean Funes</option>
            <option value="Docta Urbanización Inteligente">Docta Urbanización Inteligente</option>
            <option value="Don Bosco">Don Bosco</option>
            <option value="Ducasse">Ducasse</option>
            <option value="El Bosque">El Bosque</option>
            <option value="El Refugio">El Refugio</option>
            <option value="El Rodeo">El Rodeo</option>
            <option value="El Trebol">El Trebol</option>
            <option value="Empalme">Empalme</option>
            <option value="Escobar">Escobar</option>
            <option value="Estancia Q2">Estancia Q2</option>
            <option value="Ferr. Mitre">Ferr. Mitre</option>
            <option value="Ferreyra">Ferreyra</option>
            <option value="Fincas del Sur I">Fincas del Sur I</option>
            <option value="Fincas del Sur II">Fincas del Sur II</option>
            <option value="Fortín del Pozo">Fortín del Pozo</option>
            <option value="General Artigas">General Artigas</option>
            <option value="General Bustos">General Bustos</option>
            <option value="General Paz">General Paz</option>
            <option value="General Pueyrredon">General Pueyrredon</option>
            <option value="Golf">Golf</option>
            <option value="Granadero Pringles">Granadero Pringles</option>
            <option value="Granja de Funes">Granja de Funes</option>
            <option value="Greenville">Greenville</option>
            <option value="Greenville 2">Greenville 2</option>
            <option value="Guayaquil">Guayaquil</option>
            <option value="Guemes">Guemes</option>
            <option value="Guiñazú">Guiñazú</option>
            <option value="Hipolito Irigoyen">Hipolito Irigoyen</option>
            <option value="Hogar Propio">Hogar Propio</option>
            <option value="Horizonte">Horizonte</option>
            <option value="Inaudi">Inaudi</option>
            <option value="Independencia">Independencia</option>
            <option value="Industrial">Industrial</option>
            <option value="Ipona">Ipona</option>
            <option value="Irupe">Irupe</option>
            <option value="Ituzaingo">Ituzaingo</option>
            <option value="Jardines del Jockey">Jardines del Jockey</option>
            <option value="Jardín">Jardín</option>
            <option value="Jardín Claret">Jardín Claret</option>
            <option value="Jardín Espinosa">Jardín Espinosa</option>
            <option value="Jardín de los Boulevares">Jardín de los Boulevares</option>
            <option value="Jardín del Pilar">Jardín del Pilar</option>
            <option value="Jeronimo L. Cabrera">Jeronimo L. Cabrera</option>
            <option value="Jockey Club">Jockey Club</option>
            <option value="Jorge Newbery">Jorge Newbery</option>
            <option value="José Hernandez">José Hernandez</option>
            <option value="José Ignacio Díaz SE">José Ignacio Díaz SE</option>
            <option value="Juan B. Justo">Juan B. Justo</option>
            <option value="Juan XXIII">Juan XXIII</option>
            <option value="Juniors">Juniors</option>
            <option value="Kennedy">Kennedy</option>
            <option value="LOS MIMBRES ">LOS MIMBRES </option>
            <option value="La Carolina">La Carolina</option>
            <option value="La Catalina">La Catalina</option>
            <option value="La Cuesta">La Cuesta</option>
            <option value="La Estanzuela">La Estanzuela</option>
            <option value="La France">La France</option>
            <option value="La Herradura">La Herradura</option>
            <option value="La Morada">La Morada</option>
            <option value="La Paloma">La Paloma</option>
            <option value="La Pankana">La Pankana</option>
            <option value="La Paya I">La Paya I</option>
            <option value="La Paya II">La Paya II</option>
            <option value="La Reserva">La Reserva</option>
            <option value="La Rufina">La Rufina</option>
            <option value="La Salle">La Salle</option>
            <option value="La Santina">La Santina</option>
            <option value="Lamadrid">Lamadrid</option>
            <option value="Las Dalias">Las Dalias</option>
            <option value="Las Delicias">Las Delicias</option>
            <option value="Las Flores">Las Flores</option>
            <option value="Las Lilas">Las Lilas</option>
            <option value="Las Magnolias">Las Magnolias</option>
            <option value="Las Margaritas">Las Margaritas</option>
            <option value="Las Palmas">Las Palmas</option>
            <option value="Las Rosas">Las Rosas</option>
            <option value="Liceo General Paz">Liceo General Paz</option>
            <option value="Lomas Este">Lomas Este</option>
            <option value="Lomas Oeste">Lomas Oeste</option>
            <option value="Lomas de San Martín">Lomas de San Martín</option>
            <option value="Lomas de la Carolina">Lomas de la Carolina</option>
            <option value="Lomas del Chateau ">Lomas del Chateau </option>
            <option value="Lomas del Suquía">Lomas del Suquía</option>
            <option value="Los Alamos">Los Alamos</option>
            <option value="Los Boulevares">Los Boulevares</option>
            <option value="Los Carolinos">Los Carolinos</option>
            <option value="Los Gigantes">Los Gigantes</option>
            <option value="Los Granados">Los Granados</option>
            <option value="Los Naranjos">Los Naranjos</option>
            <option value="Los Olmos">Los Olmos</option>
            <option value="Los Olmos Sud">Los Olmos Sud</option>
            <option value="Los Paraisos">Los Paraisos</option>
            <option value="Los Platanos">Los Platanos</option>
            <option value="Los Prados">Los Prados</option>
            <option value="Los Prados II">Los Prados II</option>
            <option value="Los Robles">Los Robles</option>
            <option value="Maipu Sección 1">Maipu Sección 1</option>
            <option value="Maipu Sección 2">Maipu Sección 2</option>
            <option value="Manantiales">Manantiales</option>
            <option value="Marcos Sastre">Marcos Sastre</option>
            <option value="Marechal">Marechal</option>
            <option value="Mariano Balcarce">Mariano Balcarce</option>
            <option value="Mariano Fragueiro">Mariano Fragueiro</option>
            <option value="Marq. de Sobremonte">Marq. de Sobremonte</option>
            <option value="Matienzo">Matienzo</option>
            <option value="Mirador">Mirador</option>
            <option value="Miradores de Manantiales">Miradores de Manantiales</option>
            <option value="Nueva Córdoba">Nueva Córdoba</option>
            <option value="Nueva Italia">Nueva Italia</option>
            <option value="Nuevo Poeta Lugones">Nuevo Poeta Lugones</option>
            <option value="Nuevo Urca">Nuevo Urca</option>
            <option value="Observatorio">Observatorio</option>
            <option value="Olivos">Olivos</option>
            <option value="Ona">Ona</option>
            <option value="Otro">Otro</option>
            <option value="Padre Claret">Padre Claret</option>
            <option value="Palermo Bajo">Palermo Bajo</option>
            <option value="Palmas de Claret">Palmas de Claret</option>
            <option value="Panamericano">Panamericano</option>
            <option value="Parque Horizonte">Parque Horizonte</option>
            <option value="Paso de los Andes">Paso de los Andes</option>
            <option value="Patria">Patria</option>
            <option value="Patricios">Patricios</option>
            <option value="Poeta Lugones">Poeta Lugones</option>
            <option value="Pque. Atlantica">Pque. Atlantica</option>
            <option value="Pque. Capital">Pque. Capital</option>
            <option value="Pque. Capital Sud">Pque. Capital Sud</option>
            <option value="Pque. Chacabuco">Pque. Chacabuco</option>
            <option value="Pque. Corema">Pque. Corema</option>
            <option value="Pque. Don Bosco">Pque. Don Bosco</option>
            <option value="Pque. Latino">Pque. Latino</option>
            <option value="Pque. Liceo I">Pque. Liceo I</option>
            <option value="Pque. Liceo II">Pque. Liceo II</option>
            <option value="Pque. Montecristo">Pque. Montecristo</option>
            <option value="Pque. República">Pque. República</option>
            <option value="Pque. San CARLOS">Pque. San CARLOS</option>
            <option value="Pque. San Vicente">Pque. San Vicente</option>
            <option value="Pque. Velez Sarsfield">Pque. Velez Sarsfield</option>
            <option value="Pque. los Molinos">Pque. los Molinos</option>
            <option value="Prados de la Villa">Prados de la Villa</option>
            <option value="Primera Junta">Primera Junta</option>
            <option value="Providencia">Providencia</option>
            <option value="Puente Blanco">Puente Blanco</option>
            <option value="Quebrada de las Rosas">Quebrada de las Rosas</option>
            <option value="Quinta Santa Ana">Quinta Santa Ana</option>
            <option value="Quintas de Arguello">Quintas de Arguello</option>
            <option value="Ramón J. Carcano">Ramón J. Carcano</option>
            <option value="Res. America">Res. America</option>
            <option value="Res. Chateau Carreras">Res. Chateau Carreras</option>
            <option value="Res. San Carlos">Res. San Carlos</option>
            <option value="Res. Santa Ana">Res. Santa Ana</option>
            <option value="Res. Santa Rosa">Res. Santa Rosa</option>
            <option value="Res. Sud">Res. Sud</option>
            <option value="Res. Velez Sarfield">Res. Velez Sarfield</option>
            <option value="Riberas de Manantiales">Riberas de Manantiales</option>
            <option value="Rivadavia">Rivadavia</option>
            <option value="Rivera Indarte">Rivera Indarte</option>
            <option value="Rogelio Martinez">Rogelio Martinez</option>
            <option value="Rosedal">Rosedal</option>
            <option value="SMATA">SMATA</option>
            <option value="SMATA II">SMATA II</option>
            <option value="San Alfonso">San Alfonso</option>
            <option value="San Alfonso I">San Alfonso I</option>
            <option value="San Antonio">San Antonio</option>
            <option value="San Daniel">San Daniel</option>
            <option value="San Felipe">San Felipe</option>
            <option value="San Fernando">San Fernando</option>
            <option value="San Francisco">San Francisco</option>
            <option value="San Ignacio">San Ignacio</option>
            <option value="San Isidro">San Isidro</option>
            <option value="San Javier">San Javier</option>
            <option value="San José">San José</option>
            <option value="San Lorenzo">San Lorenzo</option>
            <option value="San Martin">San Martin</option>
            <option value="San Nicolas">San Nicolas</option>
            <option value="San Pablo">San Pablo</option>
            <option value="San Rafael">San Rafael</option>
            <option value="San Salvador">San Salvador</option>
            <option value="San Vicente">San Vicente</option>
            <option value="Santa Clara de Asis">Santa Clara de Asis</option>
            <option value="Santa Isabel">Santa Isabel</option>
            <option value="Santa Rita">Santa Rita</option>
            <option value="Santina Norte">Santina Norte</option>
            <option value="Sargento Cabral">Sargento Cabral</option>
            <option value="Sarmiento">Sarmiento</option>
            <option value="Siete Soles">Siete Soles</option>
            <option value="Solares de Santa María">Solares de Santa María</option>
            <option value="Tablada Park">Tablada Park</option>
            <option value="Talleres Este">Talleres Este</option>
            <option value="Talleres Oeste">Talleres Oeste</option>
            <option value="Talleres Sud">Talleres Sud</option>
            <option value="Tejas 3">Tejas 3</option>
            <option value="Tejas del Sur I">Tejas del Sur I</option>
            <option value="Tejas del Sur II">Tejas del Sur II</option>
            <option value="Teniente Benj. Matienzo">Teniente Benj. Matienzo</option>
            <option value="Terranova">Terranova</option>
            <option value="Terrazas de La Estanzuela">Terrazas de La Estanzuela</option>
            <option value="UOCRA">UOCRA</option>
            <option value="Urca">Urca</option>
            <option value="Urquiza">Urquiza</option>
            <option value="Valle Escondido">Valle Escondido</option>
            <option value="Valle del Sol">Valle del Sol</option>
            <option value="Villa Adela">Villa Adela</option>
            <option value="Villa Alberdi">Villa Alberdi</option>
            <option value="Villa Allende Parque">Villa Allende Parque</option>
            <option value="Villa Argentina">Villa Argentina</option>
            <option value="Villa Azalais">Villa Azalais</option>
            <option value="Villa Belgrano">Villa Belgrano</option>
            <option value="Villa Cabrera">Villa Cabrera</option>
            <option value="Villa Corina">Villa Corina</option>
            <option value="Villa Cornu">Villa Cornu</option>
            <option value="Villa Coronel Olmedo">Villa Coronel Olmedo</option>
            <option value="Villa Esquiu">Villa Esquiu</option>
            <option value="Villa Gran Parque">Villa Gran Parque</option>
            <option value="Villa Marta">Villa Marta</option>
            <option value="Villa Quizquizacate">Villa Quizquizacate</option>
            <option value="Villa Revol">Villa Revol</option>
            <option value="Villa Rivera Indarte">Villa Rivera Indarte</option>
            <option value="Villa Warcalde">Villa Warcalde</option>
            <option value="Villa el Libertador">Villa el Libertador</option>
            <option value="Villa los Angeles">Villa los Angeles</option>
            <option value="Yapeyu">Yapeyu</option>
            <option value="Yofre I">Yofre I</option>
            <option value="Yofre Norte">Yofre Norte</option>
            <option value="Yofre Sud">Yofre Sud</option>
            <option value="Zumaran">Zumaran</option>
          </select>
        </td>
        <td>
          <select name="tipobarrio">
            <option value="Abierto">Abierto</option>
            <option value="Con Seguridad">Con seguridad</option>
            <option value="Cerrado">Cerrado</option>
            <option value="Country">Country</option>
          </select>
        </td>
       <td>
          <select name="dormitorios">
            <option value="1">1 Dormitorio</option>
            <option value="2">2 Dormitorios</option>
            <option value="3">3 Dormitorios</option>
            <option value="4">4 Dormitorios</option>
            <option value="5">5 o más </option>
          </select>
        </td>
        <td>
          <select name="banios">
            <option value="1">1 Baño</option>
            <option value="2">2 Baños</option>
            <option value="3">3 Baños</option>
            <option value="4">4 Baños</option>
            <option value="5">5 o más</option>
          </select>
        </td>
        <td>
          <input type="text" name="mst2C" size="15" maxlength="5" required>
        </td>
        <td>
          <input type="text" name="mst2T" size="15" maxlength="5" required>
        </td>
      </tr>
    </table>
    <article id="search">
      <table style="font-family:verdana;font-size:80%;">
        <tr>
          <th>Valor</th>
        </tr>
        <tr>
          <td>
            {% if result : %}
	          U$S
              <input type="text" name="result" value={{ result }} size="10" maxlength="5" readonly>
            {% else: %}
              U$S
              <input type="text" name="noresult" value="0.00" size="10" maxlength="5" readonly>
            {% endif %}
          </td>
        </tr>
      </table> *
    </article>
    <br><br>
    <p>
      <input type="submit" value="Calcular">
    </p>
  </form>

  <p style="font-family:verdana;font-size:90%;">
    * El valor arrojado resulta de una estimación basada en cálculos sobre más de 10.000 propiedades, con un margen de error de +- U$S 15,000.00
  </p>

  <br><br><br><br>
  <p style="font-family:verdana;font-size:80%;text-align:center;">
    Proyecto desarrollado por Federico Castellano. <span class="copyleft">&copy;</span>2019.
  </p>

</body>
</html>